

@font-face {
    font-family: "DejaVuSansMono";
    src: url("./fonts/DejaVuSansMono.ttf")  format("truetype");
  }
@font-face {
    font-family: "DejaVuSansMono-Bold";
    src: url("./fonts/DejaVuSansMono-Bold.ttf")  format("truetype");
  }
@font-face {
    font-family: "DejaVuSansMono-BoldOblique";
    src: url("./fonts/DejaVuSansMono-BoldOblique.ttf")  format("truetype");
  }
@font-face {
    font-family: "DejaVuSansMono-Oblique";
    src: url("./fonts/DejaVuSansMono-Oblique.ttf")  format("truetype");
  }